# Datan analysointi S2020 - Tehtävät kerta 3

Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:
* 1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
* 0,5 p. Vastaus oikein toisella yrityksellä.
* 0 p. Vastaus väärin kolmannella yrityksellä.

**Tee tehtävät ilman for-silmukoita tms.**

### 1. Päästöjen aiheuttajia

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country' ja 'main activity sector name',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* laskee kuinka monta kertaa sarakkeen 'main activity sector name' eri arvot esiintyvät DataFramessa,
* tulostaa (viisi ensimmäistä riviä) järjestyksessä pienimmästä suurimpaan sarakkeen 'main activity sector name' arvojen lukumäärät.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| | | |
|:---|:---|:---|
|45 |Capture of greenhouse gases under Directive 2009/31/EC      | 14|
|46 |Transport of greenhouse gases under Directive 2009/31/EC    | 22|
|40 |Production of glyoxal and glyoxylic acid                    | 37|
|39 |Production of adipic acid                                   | 43|
|44 |Production of soda ash and sodium bicarbonate               |325|
|Name: sector, dtype: int64| | |

In [7]:
import pandas as pd
import numpy as np
import csv

#url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'

def emissions(url):
    # Kirjoita vastauksesi tähän
    # ...

    df = pd.read_csv(url,sep="\t",quoting=csv.QUOTE_NONE).replace('"','',regex=True)
    df.columns = df.columns.str.strip('"')
    df = df[['country', 'main activity sector name']]
    df = df[~df['main activity sector name'].isin(['20-99 All stationary installations', '21-99 All industrial installations (excl. combustion)'])]
    # Also works, but handles a singular string and requires outer '()' as well as as inner '|' for 'or' condition.
    # Above method is a simpler way of doing the same thing as below.
    #df = df[~df['main activity sector name'].str.contains("20-99 All stationary installations")]
    df = df.rename(columns={'main activity sector name' : 'sector'})
    df = df['sector'].value_counts(ascending=True)
    #df = df['main activity sector name'].value_counts(ascending=True)
    #print(df.dtypes)
    #df = df.rename(columns={'main activity sector name': 'sector'})
    df = df.head()
    tulos = df
    #tulos

    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

45 Capture of greenhouse gases under Directive 2009/31/EC       14
46 Transport of greenhouse gases under Directive 2009/31/EC     22
40 Production of glyoxal and glyoxylic acid                     37
39 Production of adipic acid                                    43
44 Production of soda ash and sodium bicarbonate               325
Name: sector, dtype: int64

### 2. Päästöjen summaaminen

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon ovat kokonaispäästöt sektoreittain (summa sarakkeesta 'values', jotka on ryhmitelty sarakkeen 'main activity sector name' mukaan),
* järjestää uuden DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
* tulostaa viisi ensimmäistä riviä DataFramesta siten, että sarake 'main activity sector name' on nimetty sarakkeeksi 'sector',
* huomaa, että sarake 'value' on ennen saraketta 'sector'.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

|   | value        |                   sector             |
|:---|:---|:---|
|1  | 1.273006e+10 |              20 Combustion of fuels  |
|5  | 2.053915e+09 | 24  Production of pig iron or steel  |
|10 | 1.803550e+09 |     29 Production of cement clinker  |
|2  | 1.678130e+09 |         21  Refining of mineral oil  |
|0  | 5.644274e+08 |                         10 Aviation  |

In [9]:
#import pandas as pd
#import numpy as np
#import csv

def emissions(url):
    # Kirjoita vastauksesi tähän
    # ...
    df2 = pd.read_csv(url,sep="\t",quoting=csv.QUOTE_NONE).replace('"','',regex=True)
    df2.columns = df2.columns.str.strip('"')
    df2 = df2[['main activity sector name', 'value', 'year']]
    # Drop from column containing strings
    df2 = df2[~df2['main activity sector name'].isin(['20-99 All stationary installations', '21-99 All industrial installations (excl. combustion)'])]

    df3 = df2[(df2['year'] >= str(2010)) & (df2['year'] <= str(2015))]
    df3 = pd.DataFrame(df3.groupby('main activity sector name')['value'].sum().reset_index())
    df3 = df3.sort_values('value', ascending=False)
    df3['sector'] = df3['main activity sector name']
    df3 = df3[['value', 'sector']].head()
    tulos = df3
    #tulos

    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

           value                               sector
1   1.273006e+10               20 Combustion of fuels
5   2.053915e+09  24  Production of pig iron or steel
10  1.803550e+09      29 Production of cement clinker
2   1.678130e+09          21  Refining of mineral oil
0   5.644274e+08                          10 Aviation

### 3. Päästöjen muutokset vuosittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon päästöjä on ollut yhteensä vuosittain (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeen 'year' arvojen mukaan),
* laskee uuteen DataFrameen uuteen sarakkeeseen 'change' kuinka paljon päästöt muuttuivat prosentuaalisesti edellisestä vuodesta (huom! vuoden 2010 arvo saa olla NaN, koska vuoden 2009 arvot on suodatettu pois),
* pyöristää em. prosentuaalisen muutoksen yhden desimaalin tarkkuuteen,
* laskee DataFramen uuteen sarakkeeseen 'cumsum' kumulatiivisen päästöjen summan vuodesta 2010 vuoteen 2015,
* tulostaa edellä kuvatulla tavalla tuotetun DataFramen siten, että DataFramen indeksinä on 'year'.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| |emissions|  change        |cumsum |
|:---|:---|:---|:---|
|year     |                |       |                |
|2010  		|5.068290e+09  |   NaN | 5.068290e+09   |
|2011  		|3.505169e+09  | -30.8 | 8.573458e+09   |
|2012  		|3.788401e+09  |   8.1 | 1.236186e+10   |
|2013  		|2.833849e+09  | -25.2 | 1.519571e+10   |
|2014  		|2.891243e+09  |   2.0 | 1.808695e+10   |
|2015  		|3.341047e+09  |  15.6 | 2.142800e+10   |

In [10]:
#import pandas as pd
#import numpy as np
#import csv

#url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'

def emissions(url):
    # Kirjoita vastauksesi tähän
    # ...
    df4 = pd.read_csv(url,sep="\t",quoting=csv.QUOTE_NONE).replace('"','',regex=True)
    df4.columns = df4.columns.str.strip('"')

    df4 = df4[['main activity sector name', 'value', 'year']]

    df4 = df4[~df4['main activity sector name'].isin(['20-99 All stationary installations', '21-99 All industrial installations (excl. combustion)'])]

    df5 = df4[(df4['year'] >= str(2010)) & (df4['year'] <= str(2015))]

    df5 = pd.DataFrame(df5.groupby('year')['value'].sum().reset_index())
    df5 = df5.rename(columns={'value': 'emissions'})

    change = (df5['emissions'] / df5.shift(1)['emissions'].sum()) * 100
    change = ((df5['emissions'] - df5['emissions'].shift(1)) / df5['emissions'].shift(1)) * 100
    change = round(change, 1)
    df5['change'] = change

    df5['cumsum'] = df5['emissions'].cumsum()

    df5 = df5.set_index('year')
    tulos = df5
    #tulos

    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

         emissions  change        cumsum
year
2010  5.068290e+09     NaN  5.068290e+09
2011  3.505169e+09   -30.8  8.573458e+09
2012  3.788401e+09     8.1  1.236186e+10
2013  2.833849e+09   -25.2  1.519571e+10
2014  2.891243e+09     2.0  1.808695e+10
2015  3.341047e+09    15.6  2.142800e+10

#### 4. Suurimmat kokonaispäästöt maittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon päästöjä kukin maa on tuottanut minäkin vuonna (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeiden 'country_code' ja 'year' mukaan),
* tallentaa uuteen DataFrameen kunkin maan (sarake 'country_code') suurimmat päästöt (sarake 'value') ja päästön tuottamisvuoden (sarake 'year'),
* järjestää em. DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
* nimeää sarakkeen 'country_code' sarakkeeksi 'ccode',
* tarvittaessa järjestää sarakkeet järjestykseen 'ccode', 'year', 'value' ja tulostaa viisi ensimmäistä riviä.

**Vinkki:** Tutki tarvittaessa pandasin groupby metodin [kuvausta](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| |ccode | year |    value |
|:---|:---|:---|:---|
|30    | DE   |	2010 | 1.298336e+09 |
|66    | GB   |	2010 | 6.420594e+08 |
|50    | ES   |	2012 | 5.579101e+08 |
|150   | PL   |	2010 | 4.605025e+08 |
|102   | IT   |	2010 | 4.505878e+08 |

In [21]:
#import pandas as pd
#import numpy as np
#import csv

#url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'

def emissions(url):
    # Kirjoita vastauksesi tähän
    # ...
    df6 = pd.read_csv(url,sep="\t",quoting=csv.QUOTE_NONE).replace('"','',regex=True)
    df6.columns = df6.columns.str.strip('"')

    df6 = df6[['country_code', 'main activity sector name', 'value', 'year']]

    df6 = df6[~df6['main activity sector name'].isin(['20-99 All stationary installations', '21-99 All industrial installations (excl. combustion)'])]

    df7 = df6[(df6['year'] >= str(2010)) & (df6['year'] <= str(2015))]

    df7 = pd.DataFrame(df7.groupby([df7['country_code'], df7['year']])['value'].sum().reset_index())

    indexes = df7.groupby('country_code',as_index=False)['value'].idxmax()
    df8 = df7.loc[indexes]
    df8 = df8.sort_values('value', ascending=False)
    df8 = df8.rename(columns={'country_code': 'ccode'})
    df8 = df8.head()
    tulos = df8
    #tulos

    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

    ccode  year         value
30     DE  2010  1.298336e+09
66     GB  2010  6.420594e+08
50     ES  2012  5.579101e+08
150    PL  2010  4.605025e+08
102    IT  2010  4.505878e+08

### 5. Toiseksi suurimmat kokonaispäästöt maittain

Tee funktio emissions(url), joka tekee järjestyksessä seuraavaa:
* lataa datan DataFrameen url:sta, jossa eroinmerkkinä on tabulaattori ('\t'),
* tallentaa DataFrameen sarakkeet 'country_code', 'main activity sector name', 'value' ja 'year',
* poistaa DataFramesta rivit, jos sarakkeessa 'main activity sector name' esiintyy merkkijonot '20-99 All stationary installations' tai '21-99 All industrial installations (excl. combustion)'
* tallentaa uuteen DataFrameen kaikki rivit, joissa sarakkeen 'year' lukuarvo on yhtäsuuri tai suurempi kuin 2010 ja yhtäsuuri tai pienempi kuin 2015.
* laskee uuteen DataFrameen kuinka paljon päästöjä kukin maa on tuottanut minäkin vuonna (laskee yhteen sarakkeen 'value' arvot, jotka on ryhmitelty sarakkeiden 'country_code' ja 'year' mukaan),

* tallentaa uuteen DataFrameen kunkin maan (sarake 'country_code') **toiseksi** suurimmat päästöt (sarake 'value') ja päästön tuottamisvuoden (sarake 'year'),
* järjestää em. DataFramen rivit suurimmasta pienimpään sarakkeen 'value' mukaan,
* nimeää sarakkeen 'country_code' sarakkeeksi 'ccode',
* tarvittaessa järjestää sarakkeet järjestykseen 'ccode', 'year', 'value' ja tulostaa viisi ensimmäistä riviä.

**Vinkkejä:** 
* Tutki tarvittaessa pandasin [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) ja [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) metodien kuvauksia.
* Jos käytät pandasin agg metodin argumenttina funktiota, niin tulee funktion sisällä etsiä toiseksi suurin arvo .iloc ominaisuudella (Tämä on tärkeää etenkin tehtävän Moodle palautuksen yhteydessä). 

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv

Esimerkiksi, emissions(url) tulostaa:

| |ccode | year |    value |
|:---|:---|:---|:---|
|33    | DE  |2013  |1.073414e+09|
|49    | ES  |2011  |5.561922e+08|
|152   | PL  |2012  |4.348634e+08|
|67    | GB  |2011  |4.252068e+08|
|62    | FR  |2012  |3.104471e+08|

In [281]:
#import pandas as pd
#import numpy as np
#import csv

#url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'

def emissions(url):
    # Kirjoita vastauksesi tähän
    # ...
    df9 = pd.read_csv(url,sep="\t",quoting=csv.QUOTE_NONE).replace('"','',regex=True)
    df9.columns = df9.columns.str.strip('"')

    df9 = df9[['country_code', 'main activity sector name', 'value', 'year']]

    df9 = df9[~df9['main activity sector name'].isin(['20-99 All stationary installations', '21-99 All industrial installations (excl. combustion)'])]

    df10 = df9[(df9['year'] >= str(2010)) & (df9['year'] <= str(2015))]

    df10 = pd.DataFrame(df10.groupby([df10['country_code'], df10['year']])['value'].sum().reset_index())

    def secondlargest(x):
        return x.nlargest(2).iloc[-1]

    indexes = df10.groupby('country_code')['value'].agg([('value', secondlargest)])
    df10 = df10[(df10['value'].isin(indexes['value']))]
    df10 = df10.sort_values('value', ascending=False)
    df10 = df10.rename(columns={'country_code': 'ccode'})
    df10 = df10.head()
    tulos = df10
    #tulos

    # Älä kirjoita muita print komentoja ennen tulos muuttujan tulostusta.
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta3/harjoitukset/ETS_Database_v38A.csv'
emissions(url)

    ccode  year         value
33     DE  2013  1.073414e+09
49     ES  2011  5.561922e+08
152    PL  2012  4.348634e+08
67     GB  2011  4.252068e+08
62     FR  2012  3.104471e+08